@model IEnumerable<DataLayer.Products>
@{
    ViewBag.Title = "آرشیو محصولات";
}

@section Filters{

    <section class="border-radius">
        <header><h3>فیلتر ها</h3></header>
        <article class="filter">
            <form action="/Archive" method="get" id="filterForm">
                <input type="hidden" value="@ViewBag.pageId" name="pageId" id="pageId"/>
                <p>عنوان</p>
                <p>
                    <input type="text" name="title" class="form-control" value="@ViewBag.ProducTitle" />
                </p>
                <p>قیمت از</p>
                <p>
                    <input type="number" name="minPrice" value="@ViewBag.minPrice" class="form-control" />
                </p>
                <p>قیمت تا</p>
                <p>
                    <input type="number" name="maxPrice" value="@ViewBag.maxPrice" class="form-control" />
                </p>
                @{
                    List<DataLayer.Product_Groups> groupsList = ViewBag.Groups;
                    List<int> selected = ViewBag.selectGroup ?? new List<int>();

                }
                <p>گروه ها</p>
                <ul>
                    @foreach (var group in groupsList.Where(x => x.ParentID == null))
                    {
                        <li>
                            <input type="checkbox" name="selectedGroups" @((selected.Any(s => s == group.GroupID)) ? "checked" : "") value="@group.GroupID" />
                            <span>@group.GroupTitle</span>

                            @if (groupsList.Any(x => x.ParentID == group.GroupID))
                            {
                                <ul>
                                    @foreach (var subGroup in groupsList.Where(x => x.ParentID == group.GroupID))
                                    {
                                        <li>
                                            <input type="checkbox" name="selectedGroups" @((selected.Any(s => s == subGroup.GroupID)) ? "checked" : "") value="@subGroup.GroupID" />
                                            <span>@subGroup.GroupTitle</span>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
                <input type="submit" class="btn btn-block btn-primary" value="اعمال" />
            </form>
        </article>
    </section>
}

<section class="last-products">
    <header><h3> آرشیو محصولات </h3></header>
    <article>

        @foreach (var item in Model)
        {
            @Html.Partial("_Product", item)
        }


        <div class="clearfix"></div>
    </article>
</section>

@if(ViewBag.PageCount > 1)
{
    <div class="pagination-layer">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.PageCount ; i++)
            {
                <li><a onclick="changePage(@i)" href="#">@i</a></li>
            }
        </ul>
    </div>
}

<script>
    function changePage(pageId)
    {
        $("#pageId").val(pageId);
        $("filterForm").submit();
    }
</script>

<style>
    .filter input[type=text] {
        width: 100% !important;
    }

    .filter input[type=checkbox] {
        margin: 2px;
    }

    .filter ul {
        padding: 5px
    }
</style>